In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_1=r'C:\Users\Sayyad Manzil\Desktop\shift-data.xlsx'
file_2=r'C:\Users\Sayyad Manzil\Desktop\third-shift-data.xlsx'

df_sheet_1=pd.read_excel(file_1,sheet_name='first',usecols= ['Name', 'Product', 'Production Run Time (Min)',     'Products Produced (Units)'])
df_sheet_2=pd.read_excel(file_1,sheet_name='second')
df_sheet_3=pd.read_excel(file_2)
print(df_sheet_1)

In [ ]:
df_all=pd.concat([df_sheet_1,df_sheet_2,df_sheet_3])#concat all columns with the same name.
df_all

In [ ]:
pivot=df_all.groupby(['Shift']).mean()
shift_productivity=pivot.loc[:,'Production Run Time (Min)':'Products Produced (Units)']
print(shift_productivity)

In [ ]:
shift_productivity.plot(kind='bar')
plt.show()

In [ ]:
df_all.to_excel(r'C:\Users\Sayyad Manzil\Desktop\all_shift_data.xlsx')

In [ ]:
df_all.shape[1]

In [ ]:
import os
os.getcwd()

In [ ]:
df_sheet_1

In [22]:
list_1=['my','name','is','salman']
list_1[::-1]

[&#39;salman&#39;, &#39;is&#39;, &#39;name&#39;, &#39;my&#39;]

In [ ]:
name='salman sayyad'
name

In [32]:
from functools import reduce
numbers=[0,1,2,3,4,5,6,7,8,9]
even=reduce(lambda a,b:a+b,numbers)
print(even)

45